
<div class="wvu-section u-full-width background u-wvu-blue callout-feature__background">
	<div class="wvu-container">

		<!-- Begin /.callout__feature-container -->
		<div class="callout__feature-container">

			<!-- Begin /.callout__main-feature -->
			<div class="callout__main-feature">
				<r:editable_region name="callout__main-copy"/>
			</div>
			<!-- End /.callout__main-feature -->

			<!-- Begin /.callout__side-container -->
			<div class="callout__side-container callout-side-container__background callout__side">
			  <r:editable_region name="callout__side-copy" />
			</div>
			<!-- End /.callout__side-container -->

		</div>
		<!-- End /.callout__feature-container -->
	</div>
	<!-- /.wvu-container -->
</div>
