.press, .publications, .patents {
  margin: 0;
  padding: 0;
  ul {
    margin: 0px;
  }
  li {
    list-style: none;
    border-top: 1px solid #dbd7d4;
    margin: 0px;
    @include mq($bp-medium) {
      padding: 1em 0em;
    }
    &:first-child{
      border-top: none;
    }
  }

  h3 {
    font-size: 1.25em;
  }
}
.publications {
  margin-bottom: 6em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}
